
@{
    ViewData["Title"] = "Cadastrar";
}
 <ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="@Url.Action("Index", "Home")">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="@Url.Action("Cadastrar", "Cadastro")">Cadastro</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="@Url.Action("Consultar", "Consulta")">Consultar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="@Url.Action("Pesquisar", "Pesquisa")">Pesquisar</a>
  </li>
</ul>
<hr/>


